* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color:red;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.qualification {
    margin-bottom: 30px;
}

h2 {
    color: #34495e;
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

strong {
    color: #2980b9;
}

.qualification p:last-child {
    margin-bottom: 0;
}
